.test {
  .img1 {
    background-image: url('../../public/img/1.jpg');
    width: 100px;
    height: 100px;
    display: block;
  }

  .img2 {
    background-image: url('../../public/img/2.jpg');
    width: 100px;
    height: 100px;
    display: block;
  }

  .img3 {
    background-image: url('../../public/img/3.jpg');
    width: 100px;
    height: 100px;
    display: block;
  }
}