#home {
  #img1 {
    background: url("../../public/img/1.svg");
  }
  #img2 {
    background: url("../../public/img/2.jpg");
  }
  .img {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
}